@import '../../../_common/styles/b160x600.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
}

#banner, .frame{
	// overflow: visible;
}
.hero{
	// transform-origin: 50% 50%;
	
	@include pos-scale(-51, 12, .82);
	
}

.frame2{
	background-color: #bfff00;	
}



.footer-bar{
	width: 160px;
	height: 243px;
	background-color: #4bfff4;
	@include pos(0, 357);
}

.ring{
	transform-origin: 294px 480px;
	@include pos-scale-rotate(-240, 17, 1.03, 0);
	
	
}

.ypy{
	transform-origin: 80px 830px;
	@include pos-scale-rotate(-40, -417, .5, 0);

	
}