@import '../../../_common/styles/b728x90.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: #4bfff4;
}

#banner, .frame{
	// overflow: visible;
}

.hero{
	// opacity:.5;
	// @include pos-scale(-89, 0, .5);
}

.frame{
	background-color: #4bfff4;	
}

.hero{
	@include pos-scale(444, 0, .5);
}

.footer-bar{
	// width: 300px;
	// height: 90px;
	// background-color: #bfff00;
	// @include pos(0, 160);
}



.ring{
	// opacity: 0;
	transform-origin: 50% 100%;
	@include pos-scale-rotate(-147, -274, .78, 0);
	
	
}

.ypy{
	transform-origin: 1100px 500px;
	@include pos-scale-rotate(-550, -251, .5, 0);	
}

